@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
}


/*LOGIN*/

.link-home {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 14px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.link-login {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 14px;
}

.link-login:hover,
.link-home:hover {
    text-decoration: underline;
    color: white;
}

input:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
}

.desc {
    margin-bottom: 32px;
    margin-top: 0px;
    font-weight: 400;
    color: white;
    font-size: 14px;
    font-family: 'Poppins';
}

.titulo-login {
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
    font-family: 'Poppins';
    font-size: 36px;
    margin-bottom: 16px;
}

.clear {
    clear: both;
}

body {
    font-size: 14px;
    line-height: 1.8;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins';
    margin: 0px;
    background-image: url("../images/login/body-bg.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
}

.main-login {
    position: relative;
}

.container-login {
    margin-top: 120px;
    margin-bottom: 70px;
    width: 1123px;
    padding-top: 130px;
    padding-bottom: 110px;
    background-image: url("../images/login/container-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.login-content {
    width: 562px;
    max-height: 100%;
    height: auto;
    margin-right: 0px;
    background: rgba(177, 135, 77, 0.75);
    float: right;
}

.login-form {
    padding: 95px 80px 45px 55px;
}

.form-group {
    margin-bottom: 25px;
}

.form-input {
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
    background: transparent;
    width: 100%;
    display: block;
    color: #fff;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 14px;
    padding: 3px 0;
}

.form-input::-webkit-input-placeholder {
    font-weight: 400;
    color: #fff;
}

.form-input::-moz-placeholder {
    font-weight: 400;
    color: #fff;
}

.form-input:-ms-input-placeholder {
    font-weight: 400;
    color: #fff;
}

.form-input:-moz-placeholder {
    font-weight: 400;
    color: #fff;
}

.form-input:focus {
    font-weight: bold;
}

.field-icon {
    float: right;
    margin-right: 0px;
    margin-top: -22px;
    position: relative;
    z-index: 2;
    color: #fff;
}

.submit {
    width: 130px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    -ms-border-radius: 25px;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
    background-color: transparent;
    font-family: 'Poppins';
}

.submit-link {
    border: 2px solid #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 12px 0;
    margin-top: 35px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.submit-link:hover {
    background: #fff;
    color: #b18757;
}

@media screen and (max-width: 992px) {
    .main-login {
        height: 100vh;
        display: block;
        align-items: center;
    }
    .container-login {
        width: calc( 100% - 30px);
        max-width: 100%;
        margin: 0 auto;
    }
    .login-content {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .submit {
        width: 100%;
    }
    .form-submit {
        margin-bottom: 20px;
        margin-right: 0px;
    }
    .login-form {
        padding: 54px 30px 36px 30px;
    }
}


/*FIN ESTILOS LIGN*/