@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
#menuArea {
    display: none;
}


/*guion medio*/

.open {
    background-color: white;
    width: 24px;
    height: 2px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 38px;
    z-index: 20;
}


/*guion arriba*/

.open:before {
    content: "";
    background-color: white;
    width: 24px;
    height: 2px;
    display: block;
    position: absolute;
    top: 6px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}


/*guion abajo*/

.open:after {
    content: "";
    background-color: white;
    width: 24px;
    height: 2px;
    display: block;
    position: absolute;
    top: 12px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.menuOpen {
    width: 24px;
    height: 20px;
    display: block;
    padding: 0px;
    margin: 20px 30px;
    cursor: pointer;
    float: right;
    z-index: 10;
}

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: linear-gradient( rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url('../images/home/slider-2.webp');
}

.menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
}

.menu .menuContent {
    position: relative;
    top: 50%;
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -300px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 10px 0;
}

.menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
}

#menuToggle:checked~.menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

#menuToggle:checked~.menuEffects ul {
    opacity: 1;
}

#menuToggle:checked~.menuOpen .open {
    background-color: transparent;
}


/*cerrar*/

#menuToggle:checked~.menuOpen .open:before {
    content: "";
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

#menuToggle:checked~.menuOpen .open:after {
    content: "";
    background-color: white;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}

#menuToggle:not(:checked)~.menuEffects ul {
    transform: translateY(-30%);
}


/*Menu fijo*/

.navbar {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    max-height: 95px;
    width: 100%;
    top: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
    transition: ease 0.5s;
    padding: 20px 0px 20px 0px;
}

.navbar.solid {
    background-color: #000;
}

nav {
    text-align: left;
    width: 100%;
    /* width: 1500px; */
    height: 70px;
    line-height: 70px;
}

#move {
    transition: ease-in-out 0.5s;
}

.flecha-navbar {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    border-top: solid 4px;
    border-right: solid 4px;
    border-radius: 2px;
    color: white;
    transform: rotate(135deg);
    left: 30px;
}

.nav {
    margin: 0px 200px 0px 0px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.nav ul li a {
    color: white;
    font-family: 'Oswald', sans-serif;
    clear: right;
    text-decoration: none;
    font-size: 17px;
    padding: 0 10px;
    margin: 0 10px;
    line-height: 70px;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav ul li {
    margin: 0;
    padding: 0;
    display: inline;
}

.dropdown-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin: 2.5% 0% 0% 19% !important;
    background-color: rgba(0, 0, 0, 0.75);
    top: 100%;
    height: auto;
    z-index: 21;
    transition: all 2.5s;
}

.nav-item:hover>.dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    display: block;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#logo {
    margin: 0px 50px;
    width: 70px !important;
}

#menuToggle {
    display: none;
}

.logo-medio {
    display: none;
    align-items: center;
    width: 100%;
    margin: 0px 0px 0px 70px;
    text-align: center;
}

.logo-medio a img {
    width: 70px !important;
}

.container-iconos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 10px;
}

.container-iconos div {
    margin: 10px;
}

.container-iconos div a {
    font-size: 1.2em;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    border-radius: 5px;
    background-color: rgb(97, 97, 97);
    transition: all 2.5s;
    padding: 12px 0px;
    width: 100%;
    min-width: 150px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.dropdown-content a {
    color: #333;
    width: 100%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(64, 64, 64);
}

@media only screen and (max-width: 1280px) {
    #menuArea {
        display: block;
    }
    .menu ul li a {
        font-size: 35px;
    }
    nav {
        display: none;
    }
    .nav {
        text-align: center;
        width: 100%;
        display: none;
    }
    .nav a {
        display: block;
        margin: 0;
    }
    #menuToggle:checked+.nav {
        display: block;
    }
    #logo {
        display: none;
    }
    .logo-medio {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 980px) {
    #logo {
        margin-left: 0px;
        padding-top: 5px;
        width: 100px;
    }
}